# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.nextSnapshot
release.properties
dependency-reduced-pom.xml
build.log
target/

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/
cmake-build-*/

# IDE - Eclipse
.settings/
.project
.classpath
.factorypath

# IDE - VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
*.tmp
*.bak

# Java
*.class
*.jar
*.war
*.ear
